<div class="column-1">

  <div class="login" class="row-1">
    <form class="login-form">
      <div class="form-group">
        <label for="email-login"><h5>email:</h5></label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login"><h5>password:</h5></label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="login-btn" class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>


  <div class="signup" class="row-1">

    <form class="signup-form">
        <div class="form-group">
          <label for="name-signup"><h5>name:</h5></label>
          <input class="form-input" type="text" id="name-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup"><h5>email:</h5></label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup"><h5>password:</h5></label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="signup-btn" class="btn btn-primary" type="submit">signup</button>
        </div>
    </form>
  </div>

</div>

<script src="/js/login.js"></script>
